/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 03/01/2026 22:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHOADON] [int] NOT NULL,
	[MADOAN] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[THANHTIEN] [money] NOT NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC,
	[MADOAN] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOAN]    Script Date: 03/01/2026 22:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOAN](
	[MADOAN] [int] IDENTITY(1,1) NOT NULL,
	[TENDOAN] [nvarchar](50) NOT NULL,
	[GIADOAN] [money] NOT NULL,
	[MOTADOAN] [nvarchar](max) NULL,
	[MALOAIDOAN] [int] NOT NULL,
	[ANHDOAN] [nvarchar](255) NULL,
	[SELLING] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADOAN] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GHE]    Script Date: 03/01/2026 22:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GHE](
	[MAGHE] [int] IDENTITY(1,1) NOT NULL,
	[MAPHONG] [int] NOT NULL,
	[TENGHE] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGHE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 03/01/2026 22:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [smalldatetime] NOT NULL,
	[TONGTIEN] [money] NOT NULL,
	[MANV] [int] NOT NULL,
	[MAKH] [int] NULL,
	[DATHANHTOAN] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 03/01/2026 22:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SODIENTHOAI] [varchar](20) NOT NULL,
	[EMAIL] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHODOAN]    Script Date: 03/01/2026 22:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHODOAN](
	[MADOAN] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [PK_KHODOAN] PRIMARY KEY CLUSTERED 
(
	[MADOAN] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIDOAN]    Script Date: 03/01/2026 22:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIDOAN](
	[MALOAIDOAN] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAIDOAN] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIDOAN] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 03/01/2026 22:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALOAIPHONG] [int] IDENTITY(1,1) NOT NULL,
	[LOAIPHONG] [nvarchar](20) NOT NULL,
	[GIAVECOBAN] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIPHONG] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 03/01/2026 22:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SODIENTHOAI] [varchar](30) NOT NULL,
	[NGAYSINH] [date] NOT NULL,
	[NGAYVAOLAM] [date] NULL,
	[VAITRO] [nvarchar](30) NOT NULL,
	[GIOITINH] [nvarchar](10) NOT NULL,
	[EMAIL] [nvarchar](255) NULL,
	[USERNAME] [nvarchar](255) NOT NULL,
	[PASSWORD] [nvarchar](255) NOT NULL,
	[WORKING] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIM]    Script Date: 03/01/2026 22:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIM](
	[MAPHIM] [int] IDENTITY(1,1) NOT NULL,
	[TENPHIM] [nvarchar](100) NOT NULL,
	[THELOAIPHIM] [nvarchar](100) NOT NULL,
	[GIOIHANTUOI] [int] NOT NULL,
	[MOTAPHIM] [nvarchar](max) NULL,
	[ANHPHIM] [nvarchar](255) NULL,
	[THOILUONGPHIM] [int] NOT NULL,
	[TENTACGIA] [nvarchar](50) NOT NULL,
	[NGAYPHATHANH] [date] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHIM] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONGCHIEU]    Script Date: 03/01/2026 22:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONGCHIEU](
	[MAPHONG] [int] IDENTITY(1,1) NOT NULL,
	[TENPHONG] [nvarchar](50) NOT NULL,
	[TRANGTHAIPHONG] [bit] NOT NULL,
	[MALOAIPHONG] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUATCHIEU]    Script Date: 03/01/2026 22:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUATCHIEU](
	[MASUATCHIEU] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIM] [int] NOT NULL,
	[MAPHONG] [int] NOT NULL,
	[THOIGIANCHIEU] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASUATCHIEU] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 03/01/2026 22:26:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MAVE] [int] IDENTITY(1,1) NOT NULL,
	[MASUATCHIEU] [int] NOT NULL,
	[MAHOADON] [int] NOT NULL,
	[MAGHE] [int] NOT NULL,
	[GIAVE] [money] NOT NULL,
	[TRANGTHAIVE] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAVE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MADOAN], [SOLUONG], [THANHTIEN]) VALUES (5, 1, 2, 90000.0000)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MADOAN], [SOLUONG], [THANHTIEN]) VALUES (11, 1, 1, 45000.0000)
INSERT [dbo].[CHITIETHOADON] ([MAHOADON], [MADOAN], [SOLUONG], [THANHTIEN]) VALUES (11, 5, 3, 165000.0000)
GO
SET IDENTITY_INSERT [dbo].[DOAN] ON 

INSERT [dbo].[DOAN] ([MADOAN], [TENDOAN], [GIADOAN], [MOTADOAN], [MALOAIDOAN], [ANHDOAN], [SELLING]) VALUES (1, N'Bắp Phô Mai', 45000.0000, N'Ngon', 1, NULL, 0)
INSERT [dbo].[DOAN] ([MADOAN], [TENDOAN], [GIADOAN], [MOTADOAN], [MALOAIDOAN], [ANHDOAN], [SELLING]) VALUES (2, N'Bắp rang bơ vị phô mai', 45000.0000, NULL, 2, N'bap_phomaiver2_639008213420241188.png', 0)
INSERT [dbo].[DOAN] ([MADOAN], [TENDOAN], [GIADOAN], [MOTADOAN], [MALOAIDOAN], [ANHDOAN], [SELLING]) VALUES (3, N'Bắp vị phô mai', 45000.0000, NULL, 2, N'bap_phomaiver2-removebg-preview_639008218604406435.png', 0)
SET IDENTITY_INSERT [dbo].[DOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[GHE] ON 

INSERT [dbo].[GHE] ([MAGHE], [MAPHONG], [TENGHE]) VALUES (1, 3, N'A1')
INSERT [dbo].[GHE] ([MAGHE], [MAPHONG], [TENGHE]) VALUES (2, 3, N'A2')
INSERT [dbo].[GHE] ([MAGHE], [MAPHONG], [TENGHE]) VALUES (3, 3, N'B5')
GO
SET IDENTITY_INSERT [dbo].[GHE] OFF
GO
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([MAHOADON], [NGAYLAP], [TONGTIEN], [MANV], [MAKH], [DATHANHTOAN]) VALUES (1, CAST(N'2025-11-16T07:53:00' AS SmallDateTime), 150000.0000, 1, 1, 1)
INSERT [dbo].[HOADON] ([MAHOADON], [NGAYLAP], [TONGTIEN], [MANV], [MAKH], [DATHANHTOAN]) VALUES (2, CAST(N'2025-12-01T10:00:00' AS SmallDateTime), 500000.0000, 1, NULL, 1)
INSERT [dbo].[HOADON] ([MAHOADON], [NGAYLAP], [TONGTIEN], [MANV], [MAKH], [DATHANHTOAN]) VALUES (3, CAST(N'2025-12-05T14:30:00' AS SmallDateTime), 1200000.0000, 1, NULL, 1)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [SODIENTHOAI], [EMAIL]) VALUES (1, N'Khách Test', N'0900000001', N'test@gmail.com')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
INSERT [dbo].[KHODOAN] ([MADOAN], [SOLUONG]) VALUES (2, 100)
INSERT [dbo].[KHODOAN] ([MADOAN], [SOLUONG]) VALUES (3, 100)
INSERT [dbo].[KHODOAN] ([MADOAN], [SOLUONG]) VALUES (4, 114)
GO
SET IDENTITY_INSERT [dbo].[LOAIDOAN] ON 

INSERT [dbo].[LOAIDOAN] ([MALOAIDOAN], [TENLOAIDOAN]) VALUES (1, N'Combo')
INSERT [dbo].[LOAIDOAN] ([MALOAIDOAN], [TENLOAIDOAN]) VALUES (2, N'Đồ ăn')
INSERT [dbo].[LOAIDOAN] ([MALOAIDOAN], [TENLOAIDOAN]) VALUES (3, N'Thức uống')
SET IDENTITY_INSERT [dbo].[LOAIDOAN] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAIPHONG] ON 

INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [LOAIPHONG], [GIAVECOBAN]) VALUES (1, N'Standard', 75000.0000)
INSERT [dbo].[LOAIPHONG] ([MALOAIPHONG], [LOAIPHONG], [GIAVECOBAN]) VALUES (2, N'VIP', 120000.0000)
SET IDENTITY_INSERT [dbo].[LOAIPHONG] OFF
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SODIENTHOAI], [NGAYSINH], [NGAYVAOLAM], [VAITRO], [GIOITINH], [EMAIL], [USERNAME], [PASSWORD], [WORKING]) VALUES (1, N'Nguyễn Văn A', N'0941197551', CAST(N'2006-11-13' AS Date), CAST(N'2024-11-07' AS Date), N'Nhân viên', N'Nam', N'nguyenvana10@gmail.com', N'nguyenvana123', N'12345', 1)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SODIENTHOAI], [NGAYSINH], [NGAYVAOLAM], [VAITRO], [GIOITINH], [EMAIL], [USERNAME], [PASSWORD], [WORKING]) VALUES (2, N'Nguyễn Hoàng C', N'0909091673', CAST(N'2003-08-14' AS Date), CAST(N'2022-09-08' AS Date), N'Nhân viên', N'Nam', N'nguyenhoangc20@gmail.com', N'nguyenhoangc11', N'1006', 0)
INSERT [dbo].[NHANVIEN] ([MANV], [HOTEN], [SODIENTHOAI], [NGAYSINH], [NGAYVAOLAM], [VAITRO], [GIOITINH], [EMAIL], [USERNAME], [PASSWORD], [WORKING]) VALUES (7, N'Trần Ngọc Vũ Đức', N'0987765123', CAST(N'2002-08-12' AS Date), CAST(N'2024-11-13' AS Date), N'Nhân viên', N'Nam', N'vuduc1090@gmail.com', N'vuduc007', N'1234567', 0)
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIM] ON 

INSERT [dbo].[PHIM] ([MAPHIM], [TENPHIM], [THELOAIPHIM], [GIOIHANTUOI], [MOTAPHIM], [ANHPHIM], [THOILUONGPHIM], [TENTACGIA], [NGAYPHATHANH], [TRANGTHAI]) VALUES (2, N'Your Name', N'Hoạt hình, Lãng mạn', 13, N'Hai thanh thiếu niên bị hoán đổi cơ thể một cách bí ẩn...', N'97427270_YourName.jpg', 106, N'Makoto Shinkai', CAST(N'2016-08-26' AS Date), 1)
INSERT [dbo].[PHIM] ([MAPHIM], [TENPHIM], [THELOAIPHIM], [GIOIHANTUOI], [MOTAPHIM], [ANHPHIM], [THOILUONGPHIM], [TENTACGIA], [NGAYPHATHANH], [TRANGTHAI]) VALUES (3, N'Bố Già', N'Gia đình, Hài', 13, N'Câu chuyện về một gia đình sống trong một con hẻm nhỏ ở Sài Gòn...', N'images/bogia.jpg', 128, N'Trấn Thành', CAST(N'2025-11-15' AS Date), 1)
INSERT [dbo].[PHIM] ([MAPHIM], [TENPHIM], [THELOAIPHIM], [GIOIHANTUOI], [MOTAPHIM], [ANHPHIM], [THOILUONGPHIM], [TENTACGIA], [NGAYPHATHANH], [TRANGTHAI]) VALUES (15, N'DORAEMON: Nobita và bản giao hưởng', N'Hoạt hình', 0, N'Một vật thể sống đáng sợ sẽ xóa số âm nhạc khỏi thế giới đang đến gần, Trái Đất đang rơi vào nguy hiểm... ! Liệu những người bạn nhỏ có thể cứu được "tương lai âm nhạc" và cả địa cầu này?', N'29eebb07_doreamon-2024.jpg', 115, N'Kazuaki Imai', CAST(N'2025-11-22' AS Date), 1)
SET IDENTITY_INSERT [dbo].[PHIM] OFF
GO
SET IDENTITY_INSERT [dbo].[PHONGCHIEU] ON 

INSERT [dbo].[PHONGCHIEU] ([MAPHONG], [TENPHONG], [TRANGTHAIPHONG], [MALOAIPHONG]) VALUES (1, N'Phòng 1', 1, 1)
INSERT [dbo].[PHONGCHIEU] ([MAPHONG], [TENPHONG], [TRANGTHAIPHONG], [MALOAIPHONG]) VALUES (2, N'Phòng 2', 1, 1)
INSERT [dbo].[PHONGCHIEU] ([MAPHONG], [TENPHONG], [TRANGTHAIPHONG], [MALOAIPHONG]) VALUES (3, N'Phòng 3 - Vip', 1, 2)
SET IDENTITY_INSERT [dbo].[PHONGCHIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[SUATCHIEU] ON 

INSERT [dbo].[SUATCHIEU] ([MASUATCHIEU], [MAPHIM], [MAPHONG], [THOIGIANCHIEU]) VALUES (13, 3, 1, CAST(N'2025-11-18T19:00:00.000' AS DateTime))
INSERT [dbo].[SUATCHIEU] ([MASUATCHIEU], [MAPHIM], [MAPHONG], [THOIGIANCHIEU]) VALUES (15, 3, 1, CAST(N'2025-11-20T19:00:00.000' AS DateTime))
INSERT [dbo].[SUATCHIEU] ([MASUATCHIEU], [MAPHIM], [MAPHONG], [THOIGIANCHIEU]) VALUES (26, 3, 3, CAST(N'2025-11-20T19:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SUATCHIEU] OFF
GO
SET IDENTITY_INSERT [dbo].[VE] ON 

INSERT [dbo].[VE] ([MAVE], [MASUATCHIEU], [MAHOADON], [MAGHE], [GIAVE], [TRANGTHAIVE]) VALUES (1, 13, 1, 1, 75000.0000, N'Da ban')
INSERT [dbo].[VE] ([MAVE], [MASUATCHIEU], [MAHOADON], [MAGHE], [GIAVE], [TRANGTHAIVE]) VALUES (2, 13, 1, 4, 75000.0000, N'Da ban')
INSERT [dbo].[VE] ([MAVE], [MASUATCHIEU], [MAHOADON], [MAGHE], [GIAVE], [TRANGTHAIVE]) VALUES (6, 169, 11, 70, 75000.0000, N'Đã bán')
GO
SET IDENTITY_INSERT [dbo].[VE] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__161CF7240EF9B773]    Script Date: 03/01/2026 22:26:37 ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__7670E299FBB315D7]    Script Date: 03/01/2026 22:26:37 ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[SODIENTHOAI] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__161CF7248272DA58]    Script Date: 03/01/2026 22:26:37 ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__7670E299C8F51197]    Script Date: 03/01/2026 22:26:37 ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[SODIENTHOAI] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__B15BE12E7710A848]    Script Date: 03/01/2026 22:26:37 ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_VE_SUATCHIEU_GHE]    Script Date: 03/01/2026 22:26:37 ******/
ALTER TABLE [dbo].[VE] ADD  CONSTRAINT [UQ_VE_SUATCHIEU_GHE] UNIQUE NONCLUSTERED 
(
	[MASUATCHIEU] ASC,
	[MAGHE] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  DEFAULT ((0)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[CHITIETHOADON] ADD  DEFAULT ((0)) FOR [THANHTIEN]
GO
ALTER TABLE [dbo].[DOAN] ADD  DEFAULT ((0)) FOR [GIADOAN]
GO
ALTER TABLE [dbo].[DOAN] ADD  DEFAULT ((1)) FOR [SELLING]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [TONGTIEN]
GO
ALTER TABLE [dbo].[HOADON] ADD  DEFAULT ((0)) FOR [DATHANHTOAN]
GO
ALTER TABLE [dbo].[KHODOAN] ADD  DEFAULT ((0)) FOR [SOLUONG]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (N'Nhân viên') FOR [VAITRO]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((1)) FOR [WORKING]
GO
ALTER TABLE [dbo].[PHIM] ADD  CONSTRAINT [DF_PHIM_TRANGTHAI]  DEFAULT ((1)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[VE] ADD  DEFAULT ((0)) FOR [GIAVE]
GO
ALTER TABLE [dbo].[VE] ADD  DEFAULT (N'BOOKED') FOR [TRANGTHAIVE]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_DOAN] FOREIGN KEY([MADOAN])
REFERENCES [dbo].[DOAN] ([MADOAN])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_DOAN]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHOADON_HOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[CHITIETHOADON] CHECK CONSTRAINT [FK_CHITIETHOADON_HOADON]
GO
ALTER TABLE [dbo].[DOAN]  WITH CHECK ADD  CONSTRAINT [FK_DOAN_LOAIDOAN] FOREIGN KEY([MALOAIDOAN])
REFERENCES [dbo].[LOAIDOAN] ([MALOAIDOAN])
GO
ALTER TABLE [dbo].[DOAN] CHECK CONSTRAINT [FK_DOAN_LOAIDOAN]
GO
ALTER TABLE [dbo].[GHE]  WITH CHECK ADD  CONSTRAINT [FK_GHE_PHONGCHIEU] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONGCHIEU] ([MAPHONG])
GO
ALTER TABLE [dbo].[GHE] CHECK CONSTRAINT [FK_GHE_PHONGCHIEU]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_KHACHHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HOADON_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HOADON_NHANVIEN]
GO
ALTER TABLE [dbo].[KHODOAN]  WITH CHECK ADD  CONSTRAINT [FK_KHODOAN_DOAN] FOREIGN KEY([MADOAN])
REFERENCES [dbo].[DOAN] ([MADOAN])
GO
ALTER TABLE [dbo].[KHODOAN] CHECK CONSTRAINT [FK_KHODOAN_DOAN]
GO
ALTER TABLE [dbo].[PHONGCHIEU]  WITH CHECK ADD  CONSTRAINT [FK_PHONGCHIEU_LOAIPHONG] FOREIGN KEY([MALOAIPHONG])
REFERENCES [dbo].[LOAIPHONG] ([MALOAIPHONG])
GO
ALTER TABLE [dbo].[PHONGCHIEU] CHECK CONSTRAINT [FK_PHONGCHIEU_LOAIPHONG]
GO
ALTER TABLE [dbo].[SUATCHIEU]  WITH CHECK ADD  CONSTRAINT [FK_SUATCHIEU_PHIM] FOREIGN KEY([MAPHIM])
REFERENCES [dbo].[PHIM] ([MAPHIM])
GO
ALTER TABLE [dbo].[SUATCHIEU] CHECK CONSTRAINT [FK_SUATCHIEU_PHIM]
GO
ALTER TABLE [dbo].[SUATCHIEU]  WITH CHECK ADD  CONSTRAINT [FK_SUATCHIEU_PHONGCHIEU] FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONGCHIEU] ([MAPHONG])
GO
ALTER TABLE [dbo].[SUATCHIEU] CHECK CONSTRAINT [FK_SUATCHIEU_PHONGCHIEU]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_GHE] FOREIGN KEY([MAGHE])
REFERENCES [dbo].[GHE] ([MAGHE])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_GHE]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_HOADON] FOREIGN KEY([MAHOADON])
REFERENCES [dbo].[HOADON] ([MAHOADON])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_HOADON]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_SUATCHIEU] FOREIGN KEY([MASUATCHIEU])
REFERENCES [dbo].[SUATCHIEU] ([MASUATCHIEU])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_SUATCHIEU]
GO
ALTER TABLE [dbo].[KHODOAN]  WITH CHECK ADD  CONSTRAINT [CK_SOLUONG] CHECK  (([SOLUONG]>=(0)))
GO
ALTER TABLE [dbo].[KHODOAN] CHECK CONSTRAINT [CK_SOLUONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH] CHECK  (([GIOITINH]='Nam' OR [GIOITINH]=N'Nữ'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_GIOITINH]
GO
