<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<connectionStrings>

		<add name="Azure"
			 connectionString="Server=tcp:it008-sever-zerobug.database.windows.net,1433;Database=CinemaManagement_DB;User ID=anhvan_it008;Password=Zerobug2025;Encrypt=True;" />

	</connectionStrings>
</configuration>